h1, h2, h4 {
    text-align: center;
    padding: 0.5em;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

img {
    width: 10em;
}

label span {
    font-size: large;
    color: tomato;
}

ul {
    list-style: none;
    margin-bottom: 10em;
}

ul button {
    margin-left: 0.5em;
    font-size: 1em;
    width: 7vw;
}

li {
    font-size: 1.2em;
}

p span {
    font-weight: bold;
}

.finalise-booking-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10em;
    margin-left: 1vw;
}

.img-container {
    text-align: center;
}

.room-list-container {
    display: flex;
    justify-content: space-around;
}

.finalise-booking-container {
    display: grid;
    grid-template-columns: 10vw 30vw 35vw;
    font-size: 1.2em;
}

.finalise-booking-form button{
    width: 20vw;
    padding: 0.5em;
    font-size: 1.5em;
}

.finalise-booking-container input{
    width: 35vw;
    padding: 0.2em;
    font-size: 1.1em;
}

.datepicker-container {
    display: flex;
    text-align: center;
    align-items: stretch;
    justify-content: center;
}

.datepicker-container :is(input, button) {
    font-size: x-large;
}

.datepicker-container button {
    margin-left: 5vw;
    width: 8vw;
}

.confirmation-container {
    display: grid;
    grid-template-columns: 25vw 50vw 25vw;
}

.confirmation-container>* {
    grid-column-start: 2;
    grid-column-end: 3;
}

.confirmation-buttons {
    display: flex;
    justify-content: left;
    margin-top: 4vh;
}

.confirmation-container button {
    width: 5vw;
    font-size: large;
    margin-right: 5vw;
}



@media screen and (max-width: 480px) {
    h2, h3, p, label {
        font-size: 1.5em;
    }

    label span {
        font-size: xx-large;
    }

    .room-list-container{
        flex-direction: column;
        text-align: center;
    }
    .room-list-container button{
        margin-bottom: 2vh;
    }

    .finalise-booking-container {
        display: flex;
        flex-direction: column;
        text-align: center;   
    }

    .finalise-booking-container button{
        font-size: xx-large;
        padding: 4vw;
    }

    .finalise-booking-container label{
        font-size: x-large;
        text-align: left;
    }

    .finalise-booking-container input{
        margin-top: 0.6em;
        font-size: 2.5vh;
        width: 80vw;
    }

    .datepicker-container {
        display: flex;
        flex-direction: column;
        margin: 1vh 4vw 4vh 4vw; 
    }

    .datepicker-container button {
        margin-top: 1em;
        padding: 0.5em ;
        width: 30vw;
    }
}
