h1, h2, h4 {
    text-align: center;
    padding: 1em;
}

h1 {
    text-transform: uppercase;
}

img {
    width: 10em;
}

label span {
    font-size: large;
    color: tomato;
}

ul {
    list-style: none;
    margin-bottom: 10em;
}

ul button {
    margin-left: 0.5em;
}

p span {
    font-weight: bold;
}

form {
    margin-bottom: 10em;
}

.img-container {
    text-align: center;
}

.room-list-container {
    display: flex;
    justify-content: space-around;

}

.booking-container {
    display: grid;
    grid-template-columns: 5em 20em 40em;
}

#datepicker-container {
    text-align: center;
}
