h1 {
    text-align: center;
}

img {
    width: 10vw;
}

.grid-container {
    display: grid;
    grid-template-columns: 30vw 10vw 10vw 30vw;
    grid-template-rows: 10vh 20vh 10vh;
    justify-content: center;
    grid-column-gap: 5em;
    justify-items: center;
}

.grid-item-1 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}

.grid-item-1:hover {
    text-decoration: underline;
    cursor: pointer;
}

.grid-item-2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
}

.grid-item-2:hover {
    text-decoration: underline;
    cursor: pointer;
}

